.card {
    /* border: 1px solid white; */
}

.card .card-front {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 2px solid transparent;
    transition: border 0.3s ease;

    border-radius: 1rem;
    overflow: hidden;
    
    width: 10rem;
    height: 10rem;
    /* height:fit-content; */

    cursor: pointer;
}

.card-front:hover {
    border: 2px solid #67b46a;
}

.card-front > img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.card-front > p {
    position: absolute;

    bottom: 0%;

    text-align: center;
    margin: 0;
    padding-block: 2px;

    width: 100%;
}