.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border: 2px solid transparent;
    transition: border 0.3s ease;

    border-radius: 1rem;
    overflow: hidden;
    
    width: 10rem;
    height:fit-content;

    cursor: pointer;
}

.card:hover {
    border: 2px solid #67b46a;
}

.card > img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.card > p {
    position: absolute;

    bottom: 0%;

    text-align: center;
    margin: 0;
    padding-block: 2px;

    background-color: hsla(216 100% 2.8% / 0.5);
    width: 100%;
}